<h1> Movie titles with <%= searchTerm.toUpperCase() %> </h1>

<% if (parsedData.Response === 'False') { %>
	<p> Error: <%= parsedData.Error %> </p>
<% } else { %>
	<ul>
	<% parsedData.Search.forEach(function(result){ %>
		<li> <%= result.Title %> - <em><%= result.Year %></em></li>
	<% }); %>
	</ul>
<% } %>

<a href="/">Search Again</a>